absl-py==0.13.0
aio-pika==8.2.2
aiofiles==22.1.0
aiohttp==3.7.4
aiormq==6.4.2
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
APScheduler==3.7.0
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
bidict==0.22.0
blinker==1.4
blis @ file:///D:/bld/cython-blis_1656314654401/work
boto3==1.24.81
botocore==1.27.81
Bottleneck @ file:///C:/Windows/Temp/abs_3198ca53-903d-42fd-87b4-03e6d03a8381yfwsuve8/croots/recipe/bottleneck_1657175565403/work
brotlipy==0.7.0
CacheControl==0.12.11
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
catalogue @ file:///D:/bld/catalogue_1661366660575/work
certifi==2022.9.24
cffi @ file:///C:/Windows/Temp/abs_6808y9x40v/croots/recipe/cffi_1659598653989/work
chardet==3.0.4
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///C:/ci/click_1646056799533/work
cloudpickle==1.6.0
colorama @ file:///C:/Windows/TEMP/abs_9439aeb1-0254-449a-96f7-33ab5eb17fc8apleb4yn/croots/recipe/colorama_1657009099097/work
colorclass==2.2.2
coloredlogs==15.0.1
colorhash==1.0.4
cryptography @ file:///C:/ci/cryptography_1652101772384/work
cycler==0.11.0
cymem @ file:///D:/bld/cymem_1649412380476/work
dask==2022.2.0
dnspython==1.16.0
docopt==0.6.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
et-xmlfile==1.1.0
fbmessenger==6.0.0
filelock==3.8.0
fire==0.4.0
flatbuffers @ file:///home/ktietz/cip/python-flatbuffers_1634039120618/work
frozenlist @ file:///C:/ci/frozenlist_1637767289747/work
fsspec==2022.8.2
future==0.18.2
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib @ file:///tmp/build/80754af9/google-auth-oauthlib_1617120569401/work
google-pasta @ file:///Users/ktietz/demo/mc3/conda-bld/google-pasta_1630577991354/work
greenlet==1.1.3
grpcio @ file:///C:/ci/grpcio_1637590968244/work
h5py @ file:///C:/ci/h5py_1659071640187/work
httptools==0.5.0
huggingface-hub==0.10.1
humanfriendly==10.0
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib-metadata @ file:///C:/ci/importlib-metadata_1648544472910/work
importlib-resources==5.9.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
jmespath==1.0.1
joblib==1.0.1
jsonpickle==2.0.0
jsonschema==4.4.0
kafka-python==2.0.2
keras==2.7.0
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
kiwisolver==1.4.4
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
libclang==14.0.6
locket==1.0.0
Markdown @ file:///C:/ci/markdown_1614364121613/work
MarkupSafe @ file:///D:/bld/markupsafe_1648737751065/work
matplotlib==3.3.4
mattermostwrapper==2.2
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184278/work
mkl-service==2.4.0
msgpack==1.0.4
multidict @ file:///C:/b/abs_49gd2k2bsh/croots/recipe/multidict_1662369343444/work
murmurhash @ file:///D:/bld/murmurhash_1660630142463/work
networkx==2.6.3
numexpr @ file:///C:/Windows/Temp/abs_e2036a32-9fe9-47f3-a04c-dbb1c232ba4b334exiur/croots/recipe/numexpr_1656940304835/work
numpy==1.19.5
oauthlib @ file:///tmp/abs_08ngfezid4/croots/recipe/oauthlib_1659642459222/work
openpyxl==3.0.10
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
packaging==20.9
pamqp==3.2.1
pandas @ file:///C:/b/abs_cdcgk91igc/croots/recipe/pandas_1663772960432/work
partd==1.3.0
pathy @ file:///home/conda/feedstock_root/build_artifacts/pathy_1656568808184/work
Pillow==9.2.0
preshed @ file:///D:/bld/preshed_1660602029160/work
prompt-toolkit==3.0.28
protobuf==3.19.5
psycopg2-binary==2.9.3
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.8.2
pydot==1.4.2
PyJWT @ file:///C:/ci/pyjwt_1657529430378/work
pykwalify==1.8.0
pymongo==3.10.1
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_7f_7lba6rl/croots/recipe/pyparsing_1661452540662/work
pyreadline3==3.4.1
pyrsistent==0.18.1
PySocks @ file:///C:/ci/pysocks_1605287845585/work
pyTelegramBotAPI==4.7.0
python-crfsuite==0.9.8
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-engineio==4.3.4
python-socketio==5.7.1
pytz==2021.3
PyYAML==6.0
questionary==1.10.0
randomname==0.1.5
rasa==3.2.8
rasa-sdk==3.2.1
redis==3.5.3
regex==2022.4.24
requests @ file:///C:/ci/requests_1657717096906/work
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rocketchat-API==1.25.0
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.6
s3transfer==0.6.0
sanic==21.12.2
Sanic-Cors==2.0.1
sanic-jwt==1.8.0
sanic-routing==0.7.2
scikit-learn==0.24.2
scipy @ file:///C:/ci/scipy_1661330047857/work
sentry-sdk==1.3.1
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1659638615822/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn-crfsuite==0.3.6
slackclient==2.9.4
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
spacy @ file:///C:/Windows/Temp/abs_20d98bbd-a3e1-44cd-94e3-50a19b6f62727s0xankp/croots/recipe/spacy_1656601321490/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1660748275723/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1661365735520/work
SQLAlchemy==1.4.41
srsly @ file:///D:/bld/srsly_1658344507117/work
tabulate==0.8.10
tarsafe==0.0.3
tensorboard @ file:///C:/Users/builder/adipietro/mc3/tf_env/conda-bld/tensorboard_1661810458182/work/tensorboard-2.9.0-py3-none-any.whl
tensorboard-data-server @ file:///C:/ci/tensorboard-data-server_1633035228378/work/tensorboard_data_server-0.6.0-py3-none-any.whl
tensorboard-plugin-wit @ file:///C:/tf/b/tensorboard-plugin-wit_1660162132996/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
tensorflow==2.7.4
tensorflow-addons==0.15.0
tensorflow-estimator==2.7.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==1.1.0
terminaltables==3.1.10
thinc @ file:///C:/ci/thinc_1651578972695/work
threadpoolctl==3.1.0
tokenizers==0.13.1
toolz==0.12.0
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1662214488106/work
transformers==4.23.1
twilio==6.50.1
typeguard==2.13.3
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1657029164904/work
typing-extensions==3.10.0.2
typing-utils==0.1.0
tzlocal==2.1
ujson @ file:///C:/ci/ujson_1657525943778/work
urllib3 @ file:///C:/Windows/TEMP/abs_65ynz4fdmi/croots/recipe/urllib3_1659110473919/work
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1658931821849/work
wcwidth==0.2.5
webexteamssdk==1.6.1
websockets==10.3
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
wincertstore==0.2
wrapt @ file:///C:/Windows/Temp/abs_7c3dd407-1390-477a-b542-fd15df6a24085_diwiza/croots/recipe/wrapt_1657814452175/work
yarl @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_e5nlunspj6/croots/recipe/yarl_1661437086516/work
zipp @ file:///C:/ci/zipp_1652274073489/work
