.circleBtn {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin: 5px;
  border: none;
  background-color: rgb(255, 255, 255);
}

.listItemText{
  word-wrap:break-word;
}


.msginp {
  width: 100%;
  height: 55px;
  border-radius: 50px 50px 50px 50px;
  margin-top: 5px;
  margin-left: 5px;
  border: none;
  padding-left: 10px;
}

.cola {
  height: 65px;
  width: 65px;
  padding-left: 0px;
}
.msgalignend {
  display: flex;
  justify-content: flex-end;
}
.msgalignstart {
  display: flex;
  justify-content: flex-start;
  min-height: 5px;
  margin-bottom: 10px;
}

.botmsg {
  /* background-color: rgb(205, 173, 241); */
  background-color: rgb(205, 173, 241);
  padding-left: 15px;
  padding-right: 15px;
  height: auto;
  min-height: 45px;
  padding-top: 6px;
  padding-bottom: 10px;
  border-radius: 25px;
  max-width: 35rem;
}

.usermsg {
  background-color: rgb(235, 220, 252);
  padding-left: 15px;
  padding-right: 15px;
  height: auto;
  min-height: 45px;
  padding-top: 6px;
  padding-bottom: 4px;
  border-radius: 25px;
  max-width: 25rem;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(140, 27, 185);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b909e6;
}

.botIcon {
  font-size: 45px;
  border: 1px solid black;
  border-radius: 50px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

.userIcon {
  font-size: 40px;
  border: 1px solid black;
  border-radius: 50px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

.sendBtn {
  font-size: 25px;
}


#chatHeader{
  display:flex;
  flex-direction:row;
  align-items: stretch;
  margin-left: 1%;
}

/* .loading {
  display: flex;
  align-items: center;
}

.loading-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #333;
  margin: 0 5px;
  animation: loading 1s ease-in-out infinite;
}




@keyframes loading {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
} */


@keyframes blink {
  /**
   * At the start of the animation the dot
   * has an opacity of .2
   */
  0% {
    opacity: .2;
  }
  /**
   * At 20% the dot is fully visible and
   * then fades out slowly
   */
  20% {
    opacity: 1;
  }
  /**
   * Until it reaches an opacity of .2 and
   * the animation can start again
   */
  100% {
    opacity: .2;
  }
}

.saving span {
  /**
   * Use the blink animation, which is defined above
   */
  animation-name: blink;
  /**
   * The animation should take 1.4 seconds
   */
  animation-duration: 1.4s;
  /**
   * It will repeat itself forever
   */
  animation-iteration-count: infinite;
  /**
   * This makes sure that the starting style (opacity: .2)
   * of the animation is applied before the animation starts.
   * Otherwise we would see a short flash or would have
   * to set the default styling of the dots to the same
   * as the animation. Same applies for the ending styles.
   */
  animation-fill-mode: both;
}

.saving span:nth-child(2) {
  /**
   * Starts the animation of the third dot
   * with a delay of .2s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .2s;
}

.saving span:nth-child(3) {
  /**
   * Starts the animation of the third dot
   * with a delay of .4s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .4s;
}